go 1.23.0

use (
	./app/auth
	./app/user
	./app/api
	./app/product
	./app/cart
	./app/checkout
	./app/order
	./app/payment
	./client/user
	./client/auth
	./client/product
	./client/cart
	./client/order
	./client/payment
	./client/checkout
	./common
)
